## Settings file was created by plugin EnemyItemDisplays v1.0.0
## Plugin GUID: com.TheTimeSweeper.EnemyItemDisplays

[Item Displays]

## Exports ALL unused item displays into separate folder. It exports every rule that body has and then adds the ones that are missing with dummy values. Export happens only if the body has IDRS, export happens for each body and some bodies share IDRS, so be mindful of that.
# Setting type: Boolean
# Default value: false
Export unused item displays = false

