## Settings file was created by plugin EnemyItemDisplays v1.1.0
## Plugin GUID: com.TheTimeSweeper.EnemyItemDisplays

[Item Displays]

## Exports ALL unused item displays into separate folder.
## It exports every rule that body has and then adds the ones that are missing with dummy values. Also adds Child Locator entries for any bones not already in child locator.
## Export happens only if the body has IDRS, export happens for each body and some bodies share IDRS, so be mindful of that.
# Setting type: Boolean
# Default value: false
Export Unused Item Displays = false

## By default, the mod will skip IDRS with default values and additionalChildren entries in the .json files that do not have any IDRS entries. Enable this so that they are no longer skipped, and thus can be used for new sets.
# Setting type: Boolean
# Default value: false
Allow Unused Child Locator Entires = false

